# Node modules & Logs
node_modules/
npm-debug.log
yarn-error.log
.env

# Build Output (Electron & Vite)
dist/
release/
build/

# Python Cache & Environment
__pycache__/
*.py[cod]
.venv/
env/
venv/
Lib/
Scripts/
pyvenv.cfg

# System Files
.DS_Store
Thumbs.db

# VS Code Settings
.vscode/

# === ENGINE & MODEL AI ===
engine.exe
*.spec

# Folder Temporary Aplikasi
magictool_temp/

# === MODEL AI ===
python/models/
*.u2net
*.pth
*.pb
*.onnx